<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<base href="http://localhost:3000/" target="_blank">
		<link rel="stylesheet" type="text/css" href="./stylesheets/styles.min.css">
	</head>
	<body>

		{{{ body }}}

		<script type="text/javascript" src="./javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="./javascripts/scripts.min.js"></script>

	</body>

</html>