<div class="row">
	<div class="container">
		<div class="col-md-12">
			<img class="img-circle center-block" src="./images/logo.png" width="200" />
		</div>
		<div class="col-md-12">&nbsp;</div>
		<div class="col-md-12">
			<h1 class="text-xs-center font-weight-bold">NodeNote</h1>
			<div class="clearfix">&nbsp;</div>
			<a target="_self" href="notes/" class="center-block btn btn-default">LOGIN</a>
			<div class="clearfix">&nbsp;</div>
			<a target="_self" href="users/" class="center-block btn btn-info">NEW USER</a>
		</div>
	</div>	
</div>