body {
	background-color: #f7f7f7;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #373a3c;
}

a:hover{
	text-decoration: none;
	cursor: pointer;
	color: #6d6d6d;
}

.margin-top-10{
	margin-top: 10px !important;
}

.container-login {
	max-width: 400px;
    margin: 0 auto;
}